{{!-- <!doctype	html>
<html>
				<head>
						<meta charset="UTF-8" />
						<title>About</title>
								<link rel="stylesheet" href="/css/site.css" type="text/css" />
				</head>
				<body>
						<header>
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h1>My App</h1>
									</div>
								</div>
							</div>
						  </header>
						 <nav>
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<ul>
												<li> <a href="/"> Home </a> </li>
												<li> <a href="/about"> About </a> </li>
										</ul>
									</div>
								</div>
							</div>
						</nav> --}}
					   <div class="container">
						   <div class="row">
									<section class="main col-md-12">
										<article>
										<h2>Elena Khoroshun - "the developer"</h2>
										<p>hi there,</p>
											<p>my name is Elena Khoroshun and I am a Seneca College student currently working on this app.<p>
											<p>See you soon!</p>
										</p>
										
										</article>
									</section>
							</div>
						{{!-- </div>
					   <footer>
						<div class="container">
							<div class="row">
								<div class="col-md-12">
										<h2>	©	2017 - Elena Khoroshun</h2>
								</div>
							</div>
						</div>
					   </footer>
					</body>
</html> --}}