<div class="row">
 <div class="col-md-12">
 <h1>{{title}}<a href="/employees/add" class="btn btn-success pull-right" style="margintop:5px;">Add
New Employee</a></h1>
 <hr />
 </div>
</div>
<div class="row">
 <div class="col-md-12">

     <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Employee Num</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Manager ID</th>
                        <th>Status</th>
                        <th>Department</th>
                        <th>Hired On</th>
                        <th>&nbsp;</th>
                    </tr>
                     </thead>
 {{#each data}}
 {{firstName}} {{last_name}}<br />
 {{/each}}
 </div>
</div>